h1{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;

}
body{
    font-family: 'Poppins', sans-serif;

}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: auto;
}

.col-sm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 2px;;
    height: auto;
   width: 2vh;
   font-family: 'Poppins', sans-serif;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.correct {
    background-color: #50846A;
    font-family: 'Poppins', sans-serif;
    color: #F9F7F3;
}

.halfcorrect{
    background-color: #EFC7D9;
    font-family: 'Poppins', sans-serif;
}

.notcorrect{
    background-color: #414141;
    color:#F9F7F3 ;
    font-family: 'Poppins', sans-serif;
}

#submit-div{
    display: grid;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
/* rules styling  */

#aside {
    font-family: 'Poppins', sans-serif;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    padding: 40px;
    margin: 0 auto;
    justify-content: center;
}

#rules-logo{
    width: 100px;
    height: 100px;
}

#rules-nav{
    display: flex;
    padding: 10px;
    margin: 0 auto;
    justify-content: center;
    text-decoration: none;
}

#home-link{
    color: #414141;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: 600;
    text-decoration: underline;
}

#info{
    width: 5vh;
    height: 5vh;
    display: flex;
}

#green{
    color: #50846A;
}

#pink{
    color: #EFC7D9;
}
#grey{
    color: #414141;
}
/* displaying the answer  */
#submit-div{
    display: flex;
    justify-content: center;
}

#submit {
    background-color: #414141;
    color: #F9F7F3;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin: 10px;
}

#message-p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
}

#guess-div{
    display: grid;
    justify-content: center;
}

/* footer styling  */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer{
 text-decoration: none;
 display: flex;
}

#footer-elements{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}