h1{
   text-align: center;
   color: white;
}

body {
    display: block;
    background-color: #1d2d44;
    color: white;
    font-family: 'Lora', serif;
    max-width: 1000px;
}

h3 {
    text-align: center;
    display: block;
    font-family: 'Roboto', sans-serif;
}
aside {
    float:left;
    width: 200px;
    display: inline;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
}

input {
    width: 230px;
    margin-bottom: 10px;
    position: relative;
    display: block;
    margin : 0 auto;
}
p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-column-start:1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 5;
    row-gap: 5px;
    column-gap: 5px;
    max-width: 250px;
}

div {
    display: flex;
    padding: 5px;
    position: relative;
    padding-left: 70px;
    gap: 10px;
    margin : 0 auto;
    width: 220px;
    height: auto;
    width: 230px;
    margin-bottom: 10px;
    position: relative;
    margin : 0 auto;
}


.row div{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    height: 25px;
    width: 15px;
    background-color: white;
    color: black;
    font-weight: bold;
    padding-left: none;
    font-family: 'Roboto', sans-serif;
  
}

.letter {
   display: flex;
   width: 5px;
   height: 30px;
   text-transform: uppercase;
   border-radius: 55px;
   text-align: center;
}


.correct {
    background-color:#F86363 !important;
   
}

.halfcorrect {
    background-color:  #FFB703 !important;
}

.notcorrect {
    background-color: grey !important;
}

button {
    position: relative;
    display: block;
    margin : 0 auto;
    width: 100px;
    background-color:  #FFB703 ;
    border: #FFB703  1px solid;
    border-radius: 10px;
}

#foot {
    display: block;
    padding: 0;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;

}

footer li {
    display: block;
    padding: 20px;
    padding-left: 15px;
    text-align: center;
    color:white;
}

#green{
    color: #F86363;
}

#yellow{
    color: #FFB703;
}

#grey{
    color: grey;
}

img {
    max-width: 50px;
    display: flex;
    padding-left: 80px;
}

img :hover {
   opacity: 0;
}