h1{
   text-align: center;
}

body {
    display: block;
}

h3 {
    text-align: center;
}

input {
    width: 230px;
    margin-bottom: 10px;
}
#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-column-start:1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    row-gap: 5px;
    column-gap: 5px;
    padding: 0;
    max-width: 250px;
}

#container div {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    height: 10px;
    width: 10px;
}
